* { box-sizing: border-box; }

body { font-family: sans-serif; }

.grid-item {
  margin-bottom: 10px;
}

.grid-item,
.grid-item-content {
  width: 440px;
  height: auto;
  min-height: 120px;
}

/* grid-item-content is visible, and transitions size */
.grid-item-content {
  background: #fff;
  border: 2px solid #1EA6B0;
  border-color: #1EA6B0;
  border-radius: 5px;
  -webkit-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.grid-item-box {
  width: 96%;
  margin: 2% auto 2%;
  display: block;
}

.grid-item-caption {
  background: #FFF;
}

.grid-item-caption h2 {
  margin: 0;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.grid-item-caption h3 {
  margin: 4px;
}

.grid-item-caption p {
  margin: 0.25em;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* both item and item content change size */
.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
  width: 960px;
  height: 240px;
}

.grid-item.is-expanded {
  z-index: 2;
}

.grid-item.is-expanded .grid-item-content {
  background: #F90;
}

.main-content {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 2rem;
}
